body{
  background: #EFEFEF;
}

#wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin .25s ease-out;
  background: #EF6C00;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  margin: auto;
}

.cerrar span{
    margin-left: 210px;
    margin-top: 10px;
    position: absolute;
}

.sidebar-heading img{
    margin: 0 22px;
    width: 150px;
    height: 150px;
    background: #EFEFEF;
    border-radius: 90px;
}

.sidebar-heading h3{
    color: #FFF;
    margin: auto;
    border-bottom: 1px solid #ca6e23;
    width: 90px;
}

#sidebar-wrapper .list-group {
  width: 15rem; 
}

.list-group-item{
  background: #EF6C00;
  color: #FFF;
  font-size: 18px;
}

.sidebar-item:hover{
  background: #e47820;
  text-decoration: none;
  color: #EFEFEF;
  font-size: 20px;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.sidebar-footer img{
    width: 230px;
    height: 160px;
    margin-top: 20px;
}

#menu-toggle{
  cursor: pointer;
  font-size: 30px;
  padding: 0 10px;
}

#page-content-wrapper {
  min-width: 100vw;
}

.links{
  text-align: center;
  float: right;  
}
.links ul li{
  display: inline;
}

.links ul li a{
  padding: 11px 25px 28px;
  text-decoration: none;
  color: rgb(42, 42, 42);
}

.links ul li a:hover{
  color: #8d8d8d;
}

/* MEDIA QUERYS */

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
@media (max-width: 992px) {
  .links ul{
    float: right;
  }

  .links ul li a{
    padding: 11px 20px 28px;
  }
}
